<div class="p-5 bg-white border shadow-lg border-sky-500">
  <h2 class="mb-2 text-lg font-bold text-gray-800">
    <%= post.title %> by <%= post.author.name %>
    <span class="flex float-right text-xs text-gray-700">
      Comments: <%= post.comments_counter %> Likes: <%= post.likes_counter %>
    </span>
  </h2>
  <p class="mt-2 text-justify text-gray-700"><%= post.text %></p>
</div>
